@charset "UTF-8";

@font-face {
	font-family: 'NanumSquareRound';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'NanumSquareRound';
	background-image: url("back.gif");
	/*background-position: 50% 60%;*/
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	flex-direction: column; /* 세로 중앙 정렬을 위한 추가 스타일 */
}

h2 {
	font-family: 'JalnanGothic';
	font-size: 40px; letter-spacing : 5px;
	margin-bottom: 20px;
	color: #aad19d;
	margin-top: 20px;
	letter-spacing: 5px; /* 컨테이너 위에 위치시키기 위한 추가 스타일 */
}

.todo-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 12px;
	backdrop-filter: blur(1px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	max-width: 550px;
	width: 100%;
	min-height: 400px;
	text-align: center;
	position: relative;
	overflow-y: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 600px;
	height: auto;
}

#taskInput {
	width: 50%;
	height: 50px;
	padding: 8px;
	box-sizing: border-box;
	border: 3px solid rgba(206, 212, 218, 0.5);
	border-radius: 4px;
	transition: border-color 0.3s ease; /* 부드러운 전환을 위한 추가 스타일 */
	margin-left: 35px;
}

#taskInput:focus {
	border-color: #95c9a4;
	outline: none;
}

option:hover {
  background-color: green; /* option 요소의 텍스트 색상을 녹색으로 변경 */
}

#todoInput {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 35px;
	margin-right: 60px;
}

.bx.bx-message-square-add {
  color: rgba(206, 212, 218, 0.5);
  font-size: 40px;
  position: relative;
  left: 20px;
}
.bx.bx-message-square-add:hover{
	color : #95c9a4;
}
#addBtn:hover{
	cursor: pointer;
}

#sortBtn:hover{
	cursor: pointer;
}

#sortBtn{
	float: left;	
}

.showBtn{
	width : 20%;
	padding : 10px;
	background-color: white;
	margin: 15px;
	border : 3px solid #b1d199;
	color: gray;
	border-radius: 6px;
	margin-bottom: 20px;
	transition: background-color 0.3s ease;
}
.showBtn:hover{
	cursor: pointer;
	background-color: #b1d199;
	color : #fff;
}
 
button.edit-btn {
        background-color: #fff;
        color: black;
        padding: 5px 10px;
        border: 1px solid #3498db;
        cursor: pointer;
        border-radius: 3px;
        margin-right: 5px; 
        margin-left: 50px;
        position: fixed;
		left: 330px;
    }

button.delete-btn {
        background-color: #fff;
        color: black;
        padding: 5px 10px;
        border: 1px solid #e74c3c;
        cursor: pointer;
        border-radius: 3px;
        position: fixed;
		left: 450px;
    }

/*select 박스  */
#priorityCheckbox{
    width: 130px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    margin-left: 50px;
}

#priorityCheckbox:focus{
    border: 1px solid #95c9a4;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 3px solid #95c9a4;
    border-radius: 10px;
}

#todoList {
  display: flex;
  flex-direction: column; /* 수직으로 나타나도록 설정 */
  align-items: flex-start; /* 왼쪽 정렬 */
}

ul li {
  list-style: none;
  margin-bottom: 30px; /* 각 리스트 아이템 사이에 간격 설정 */
}

ul li input[type="checkbox"] {
 	margin-right: 10px; /* 체크박스 우측 간격 조절 */
}


.priority-1 strong { color: #c6c3e3; }
.priority-2 strong { color: #99cf9b; }
.priority-3 strong { color: #f0a96e; }
.priority-4 strong { color: #6083db; }
.completed { text-decoration: line-through; }  